#analyse {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:@zIndexAnalyse;
	.transition(opacity 0.6s);

	&.hidden {
		display: block;
		visibility: visible;
		.opacity(0);
		pointer-events: none;

		.dialog {
			.translate(0, -100%);
			.opacity(0);
		}
	}

	.overlay {
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background:fade(black, 90%);
	}

	.dialog {
		position:relative;
		z-index:@zIndexAnalyse - 10;
		width:500px;
		margin:80px auto;
		background: white;
		padding: 30px 10px;
		.box-shadow(0 0 30px 0 black);
		.transition(0.6s);

		h3 {
			text-align: center;
			margin:0;
			margin-bottom: 20px;
			padding-top:0;
			color:#00C8AC;
		}

		.wrapper {
			overflow: auto;
			padding:0 20px;
			max-height:@containerHeight - 80px*3px;
		}
	}
}