@zIndexPicture : 10;
@zIndexTail    : @zIndexPicture+10;
@zIndexSpot    : @zIndexTail+10;
@zIndexTitle   : @zIndexSpot+10;
@zIndexNav     : @zIndexTitle+10;
@zIndexAnalyse : @zIndexNav+10;
@zIndexLoading : @zIndexAnalyse+10;

@containerWidth  : 1024px;
@containerHeight : 660px;

// Fonts
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic|Fira+Sans:400,400italic,700&subset=latin,latin-ext);
// Bootstrap parts
@import "vendor/bootstrap/reset.less";
@import "vendor/bootstrap/variables.less";
@import "vendor/bootstrap/mixins.less";
// Tooltips helper
@import (less) "vendor/tooltipster.css";
// Integration tools
@import "tools.less";
// Site parts
@import "nav.less";
@import "analyse.less";
@import "container.less";
@import "tooltipster.less";

body {
    margin:0;
    padding:0;
    overflow:hidden;
    font: @baseFontSize @baseFontFamily;
    background:darken(@bodyBackground, 2%);
    color:@textColor;
    // no scale() available, we show the scrollbar
    .no-csstransforms & { overflow: auto; }
    h1, h2, h3, h4, h5, h6 {
        font-family: @headingsFontFamily;
    }
}

#old-browser {
    z-index:500;

    position:fixed !important;
    position:absolute;
    top:0; bottom:0;
    right:0; left:0;

    background:white;
    padding:10%;
    overflow:hidden;

    display:none;
    .lt-ie7 & { display:block; }
}

#overflow {

    overflow:hidden;

    width:@containerWidth;
    height:@containerHeight;
    position:absolute;
    top:50%;
    left:50%;

    margin-left:@containerWidth/-2px;
    margin-top:@containerHeight/-2px;

    // no scale() available, we don't need to center
    .no-csstransforms &{
        top: auto !important;
        left: auto !important;
        margin-left: 0 !important;
        margin-top: 0 !important;
    }

    &:after {
        content:"";
        position:absolute;
        top:0; bottom:0;
        left:0; right:0;
        z-index:@zIndexLoading;
        background:white url("/img/common/loader.gif") center center no-repeat;
        display:block;
        opacity: 0;
        pointer-events: none;
        .transition(0.8s);

        @media screen and (~"min-width:0\0") {
            .transition(0);
            display: none;
        }
    }

    .js-loading &:after {
        opacity: 1;
        pointer-events: auto;

        @media screen and (~"min-width:0\0") {
            .transition(0);
            display: block;
        }
    }

}
