@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic|Fira+Sans:400,400italic,700&subset=latin,latin-ext);
@import "./vendor/bootstrap/reset.less";
@import "./vendor/bootstrap/variables.less";
@import "./vendor/bootstrap/mixins.less";
@import (less) "./vendor/tooltipster.css";
@import (less) "./vendor/tooltipster-light.css";
@import "./tools.less";

@zIndexPicture : 10;
@zIndexTail    : @zIndexPicture+10;
@zIndexSpot    : @zIndexTail+10;
@zIndexTitle   : @zIndexSpot+10;
@zIndexNav     : @zIndexTitle+10;
@zIndexLoading : @zIndexNav+10;

@containerWidth  : 1024px;
@containerHeight : 660px;

body {
    margin:0;
    padding:0;
    overflow:hidden;
    font: @baseFontSize @baseFontFamily;
    background:darken(@bodyBackground, 2%);
    color:@textColor;

    .spot a, .spot {
      color: black;
      text-decoration:none;
    }
    // no scale() available, we show the scrollbar
    .no-csstransforms & { overflow: auto; }

    h1, h2, h3, h4, h5, h6 {
        font-family: @headingsFontFamily;
    }
}

#old-browser {
    z-index:500;

    position:fixed !important;
    position:absolute;
    top:0; bottom:0;
    right:0; left:0;

    background:white;
    padding:10%;
    overflow:hidden;

    display:none;
    .lt-ie7 & { display:block; }
}

#overflow {

    overflow:hidden;

    width:@containerWidth;
    height:@containerHeight;
    position:absolute;
    top:50%;
    left:50%;

    margin-left:@containerWidth/-2px;
    margin-top:@containerHeight/-2px;

    // no scale() available, we don't need to center
    .no-csstransforms &{
        top: auto !important;
        left: auto !important;
        margin-left: 0 !important;
        margin-top: 0 !important;
    }

    .js-loading &:after {
        content:"";
        position:absolute;
        top:0; bottom:0;
        left:0; right:0;
        z-index:@zIndexLoading;
        background:white;
        display:block;
    }

    .nav {

        &-toggler {
            position:absolute;
            top:23px;
            right:30px;
            z-index:@zIndexNav;
            width:83px;
            height:42px;
            background:url("/img/common/btn_menu.png") 0 0;
            background-size: 83px auto;
            cursor:pointer;
        }

        &-analyse {
            position:absolute;
            top:75px;
            right:30px;
            width:140px;
            height:42px;
            z-index:@zIndexNav;
            background:url("/img/common/btn_analyse.png") 0 0;
            background-size: 140px auto;
            cursor:pointer;
        }

        .steps {

            position:absolute;
            right:0;
            top:0;
            z-index:@zIndexNav + 10;
            bottom:0;
            width: 300px;
            background: fade(@textColor, 90%);
            padding:20px;
            margin:0;
            color: white;

            h3 {
                font-weight: normal;
                text-transform: uppercase;
                font-family:inherit;
                margin:0;
            }

            .chapters {
                margin:0;
                padding:0;
                counter-reset: chapter;

                li {
                    margin:0;
                    padding:0;
                    clear:right;
                    list-style:none;

                    i {
                        font-style:normal;
                    }

                    a {
                        color:#aaa;
                        padding:10px 0;
                        display:block;
                        height:30px;
                        cursor:pointer;
                        text-decoration:none;
                        position: relative;
                        min-height: 30px;
                        padding-left:40px;

                        &:before {
                            counter-increment: chapter;
                            content:counter(chapter);
                            font-size: 18px;
                            line-height: 32px;
                            height: 30px;
                            width:30px;
                            display: block;
                            border:2px solid white;
                            color:white;
                            text-align: center;
                            border-radius: 50%;
                            position:absolute;
                            top:10px;
                            left:0;
                            color:white;
                        }

                        &.js-active {
                            color:white;
                            &:before {
                                color:@textColor;
                                background: white;
                            }
                        }
                    }
                }
            }
        }

        ul.arrows {
            list-style:none;
            padding:0;
            margin:0;

            .previous, .next {
                position:absolute;
                z-index:@zIndexNav;
                top:50%;
                width:40px;
                height:80px;
                margin-top:-74px/2px;
                color:black;
                font-size:30px;
                line-height:50px;
                text-align:center;
                cursor:pointer;
                background:no-repeat  center center;
                background-size:40px 80px;
                .hide-text();
                .transition(~"left 0.7s, right 0.7s");
            }

            .previous {
                left:-1px;
                background-image:url("/img/common/btn_prev.svg");

                .js-first & {
                    left:-65px;
                }
            }

            .next {
                right:0;
                background-image:url("/img/common/btn_next.svg");

                .js-last & {
                    right:-65px;
                }
            }

        }

        .tiny-scroll {
            z-index:@zIndexNav;
            position:absolute;
            top:0;
            bottom:0;
            left:0;

            .wrapper {
                width:50px;
                height:170px;
                background:url("/img/common/bg_scroll.png");
                position:relative;

                .tracker {
                    position:relative;
                    top:27px;
                    left:12px;
                    background:url("/img/common/tracker.png") 0 0 no-repeat;
                    width:7px;
                    height:100px;
                    .transition(background 0.6s);
                }
            }

            .previous, .next {
                position:absolute;
                left:8px;
                width:15px;
                height:15px;
                text-indent:-999px;
                overflow:hidden;
                font-size:0;
                cursor:pointer;
                .transition(0.6s);
            }

            .previous {
                top:5px;
                background:url("/img/common/up.png");
                .js-first & {
                    .opacity(20);
                }
            }

            .next {
                bottom:20px;
                background:url("/img/common/down.png");
                .js-last & {
                    .opacity(20);
                }
            }

            .shadow {
                position:absolute;
                left:0;
                top:0;
                bottom:0;
                width:10px;
                background:url("/img/common/shadow.png") repeat-y;
                display:block;
            }

            .triangle {
                position:absolute;
                left:0;
                bottom:50px;
                background:url("/img/common/triangle.png");
                height:25px;
                width:25px;
                display:block;
            }

        }
    }
}

#container {

    overflow:hidden;

    position:absolute;
    top:0; left:0;
    width:100%;
    height:100%;
    background-color:@bodyBackground;

    visibility:visible;
    .js-loading & { visibility:hidden; }

    .step {
        position:absolute;
        top:0;
        left:0;
        width:@containerWidth;
        height:@containerHeight;
        overflow:hidden;
        visibility: hidden;

        &.js-current {
            overflow:visible;
            visibility: visible;
        }

        // Disable next and previous on touch device
        .no-touch {
            &.js-current, &.js-next, &.js-previous {
                visibility: visible;
            }
        }



        .hidden-content {
            display:none;
        }

        .step-heading {

            position:absolute;
            left:55px;
            right: 300px;
            top:45px;
            z-index:@zIndexTitle;

            h2 {
                font-size: 32px;
                font-weight: bold;
                line-height: 36px;
                margin: 0;
                padding:0;

                strong {
                    color:@red;
                }
            }

            h3 {
                font-size:13px;
                color:#72797f;
                margin-top:5px;
            }
        }

        .spot-background, .step-background {
            min-width:none;
            max-width:none;
            min-height:none;
            max-height:none;
            position:relative;
            z-index:@zIndexPicture;
            &.spot-background {
                z-index:@zIndexSpot;
            }
        }

        .exemple & {
            &:after {
                content:"";
                position: absolute;
                top:50%;
                right:0;
                left:0;
                border-top:10px dashed fade(@black, 60%);
                z-index:@zIndexTail;
            }
        }

        .spot {

            position:absolute;
            z-index:@zIndexSpot;
            background:none;

            & > .js-animation-wrapper {
                background: 0 0 no-repeat;
                background-size:100% auto;
                width:100%;
                height:100%;
                position:relative;
                &.hidden { display:none; }
            }

            &.js-active.v-sprite > .js-animation-wrapper {
                background-position:left bottom;
            }

            &.js-active.h-sprite > .js-animation-wrapper {
                background-position:right top;
            }

            &.focus {
                &  > .js-animation-wrapper {
                    .box-shadow(black 0 0 20px);
                    .opacity(40);
                }
            }

            &.pictos {
                width:200px; /* IE8 FIX */
            }

            &.red > .js-animation-wrapper {
                background-color:red;
            }

            &.green > .js-animation-wrapper {
                background-color:green;
            }

            &.pink > .js-animation-wrapper {
                background-color:pink;
            }

            &.yellow > .js-animation-wrapper {
                background-color:yellow;
            }


            &.red.js-active,
            &.green.js-active,
            &.pink.js-active,
            &.yellow.js-active {
                &  > .js-animation-wrapper {
                    .box-shadow(fade(black, 60) 0 0 20px);
                }
            }

            &.fg {
              z-index:@zIndexSpot + 5;
            }

            .ie &.ie-opacity .js-animation-wrapper {
                background-color:#e2e6e7;
                .opacity(100);
                * {
                    background-color:#e2e6e7;
                    filter: inherit;
                }
            }


            &.launcher {
                background:url("/img/common/btn_lancez.png") no-repeat 0 0;
                top:50%;
                left:50%;
                margin-left:-270px/2px;
                margin-top:-275px/2px;

                &:hover {
                    background-position:0 -280px;
                }
            }

            &.app-title {

                color:#666666;

                h3 {
                    font-weight: 100;
                    font-size: 32px;
                    text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF;
                    margin:0;
                }

                h4 {
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 50px;
                    text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF
                }
                &.no-shadow {
                    * {
                        text-shadow: none;
                    }
                }

            }

            &.legend {
                font-size: 14px;
                font-weight: 100px;
                line-height: 16px;
                color: #808080;
                width:auto;
                display:table;
                .js-animation-wrapper {
                    padding-left:25px;
                    display:table-cell;
                    vertical-align:middle;
                }
            }

            h3, h4 {
                margin-top:0;
                margin-bottom:0.2em;
                font-weight:normal;
            }

            small {
                color:#999;
            }

        }

    }
}